---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - netcracker.com
  resources:
  - dbaasredisadapters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - netcracker.com
  resources:
  - dbaasredisadapters/finalizers
  verbs:
  - update
- apiGroups:
  - netcracker.com
  resources:
  - dbaasredisadapters/status
  verbs:
  - get
  - patch
  - update
