{{ if .Values.role.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: dbaas-redis-operator
  labels:
    {{- include "redis.defaultLabels" . | nindent 4 }}
rules:
- apiGroups:
  - qubership.org
  resources:
  - '*'
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
  - delete
{{- if and .Values.redis.tls.enabled .Values.redis.tls.generateCerts.clusterIssuerName }}
- apiGroups:
  - cert-manager.io
  resources:
  - '*'
  verbs:
  - watch
  - create
  - get
  - list
  - update
{{- end }}
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - persistentvolumeclaims
  - configmaps
  - secrets
  - serviceaccounts
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
  - delete
- apiGroups:
  - apps
  resources:
  - deployments
  - deployments/status
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
  - delete
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  - rolebindings
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
  - delete
{{ end }}
