{{- if and (not .Values.redis.tls.generateCerts.enabled )  (.Values.redis.tls.enabled) }}
kind: Secret
apiVersion: v1
metadata:
    name: {{ .Values.redis.tls.certificateSecretName }}
    namespace: {{ .Release.Namespace }}
data:
    {{ .Values.redis.tls.rootCAFileName }}: {{ .Values.redis.tls.certificates.ca_crt }}

    {{ .Values.redis.tls.privateKeyFileName }}: {{ .Values.redis.tls.certificates.tls_key }}

    {{ .Values.redis.tls.signedCRTFileName }}: {{ .Values.redis.tls.certificates.tls_crt }}
type: Opaque
{{ end }}
