{{- if eq (include "fromValuesThenEnvElseDefault" (dict "dotVar" .Values.monitoringAgent.install "envVar" .Values.MONITORING_ENABLED "default" true )) "true" }}
  {{- if not (eq .Values.monitoringAgent.metricCollector "prometheus") }}
{{- $data := .Values.monitoringAgent.influxDB }}
{{- $_ := set $data "username" $data.user }}
{{template "nosql.core.secret.external" (dict "values" . "vltEnabled" false "vltPath" "" "secret" $data )}}
  {{end}}
{{end}}