
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.2
  creationTimestamp: null
  name: dbaasredisadapters.qubership.org
spec:
  group: qubership.org
  names:
    kind: DbaasRedisAdapter
    listKind: DbaasRedisAdapterList
    plural: dbaasredisadapters
    singular: dbaasredisadapter
  scope: Namespaced
  subresources:
    status: {}
  version: v1
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              foo:
                type: string
            type: object
          status:
            type: object
        type: object
    served: true
    storage: false
  - name: v2
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              artifactDescriptorVersion:
                type: string
              dbaas:
                properties:
                  adapter:
                    properties:
                      apiVersion:
                        type: string
                      createDBTimeout:
                        type: integer
                      secretName:
                        type: string
                      supportedFeatures:
                        additionalProperties:
                          type: boolean
                        type: object
                      username:
                        type: string
                    type: object
                  aggregator:
                    properties:
                      address:
                        type: string
                      dbaasAggregatorRegistrationAddress:
                        type: string
                      physicalDatabaseIdentifier:
                        type: string
                      physicalDatabaseLabels:
                        additionalProperties:
                          type: string
                        type: object
                      secretName:
                        type: string
                      username:
                        type: string
                    type: object
                  install:
                    type: boolean
                  tls:
                    properties:
                      certificateSecretName:
                        type: string
                      clusterIssuerName:
                        type: string
                      enabled:
                        type: boolean
                      nonTlsPort:
                        type: integer
                      privateKeyFileName:
                        type: string
                      rootCAFileName:
                        type: string
                      signedCRTFileName:
                        type: string
                      tlsPort:
                        type: integer
                    type: object
                required:
                - install
                type: object
              deploymentVersion:
                type: string
              imagePullPolicy:
                type: string
              instance:
                type: string
              managedBy:
                type: string
              monitoringAgent:
                properties:
                  dockerImage:
                    type: string
                  influxDB:
                    properties:
                      database:
                        type: string
                      host:
                        type: string
                      retentionPolicy:
                        type: string
                      secretName:
                        type: string
                      user:
                        type: string
                    type: object
                  install:
                    type: boolean
                  metricCollector:
                    type: string
                  nodeLabels:
                    additionalProperties:
                      type: string
                    type: object
                  priorityClassName:
                    type: string
                  resources:
                    properties:
                      claims:
                        items:
                          properties:
                            name:
                              type: string
                          required:
                          - name
                          type: object
                        type: array
                        x-kubernetes-list-map-keys:
                        - name
                        x-kubernetes-list-type: map
                      limits:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        type: object
                      requests:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        type: object
                    type: object
                type: object
              partOf:
                type: string
              policies:
                properties:
                  tolerations:
                    items:
                      properties:
                        effect:
                          type: string
                        key:
                          type: string
                        operator:
                          type: string
                        tolerationSeconds:
                          format: int64
                          type: integer
                        value:
                          type: string
                      type: object
                    type: array
                type: object
              redis:
                properties:
                  args:
                    items:
                      type: string
                    type: array
                  dockerImage:
                    type: string
                  maxmem:
                    type: string
                  nodeLabels:
                    additionalProperties:
                      type: string
                    type: object
                  parameters:
                    properties:
                      label:
                        type: string
                    required:
                    - label
                    type: object
                  priorityClassName:
                    type: string
                  resources:
                    properties:
                      claims:
                        items:
                          properties:
                            name:
                              type: string
                          required:
                          - name
                          type: object
                        type: array
                        x-kubernetes-list-map-keys:
                        - name
                        x-kubernetes-list-type: map
                      limits:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        type: object
                      requests:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        type: object
                    type: object
                  secretName:
                    type: string
                  tls:
                    properties:
                      certificateSecretName:
                        type: string
                      clusterIssuerName:
                        type: string
                      enabled:
                        type: boolean
                      nonTlsPort:
                        type: integer
                      privateKeyFileName:
                        type: string
                      rootCAFileName:
                        type: string
                      signedCRTFileName:
                        type: string
                      tlsPort:
                        type: integer
                    type: object
                required:
                - args
                - dockerImage
                type: object
              robotTests:
                properties:
                  dockerImage:
                    type: string
                  install:
                    type: boolean
                  nodeLabels:
                    additionalProperties:
                      type: string
                    type: object
                  priorityClassName:
                    type: string
                  resources:
                    properties:
                      claims:
                        items:
                          properties:
                            name:
                              type: string
                          required:
                          - name
                          type: object
                        type: array
                        x-kubernetes-list-map-keys:
                        - name
                        x-kubernetes-list-type: map
                      limits:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        type: object
                      requests:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        type: object
                    type: object
                  tags:
                    type: string
                type: object
              securityContext:
                properties:
                  appArmorProfile:
                    properties:
                      localhostProfile:
                        type: string
                      type:
                        type: string
                    required:
                    - type
                    type: object
                  fsGroup:
                    format: int64
                    type: integer
                  fsGroupChangePolicy:
                    type: string
                  runAsGroup:
                    format: int64
                    type: integer
                  runAsNonRoot:
                    type: boolean
                  runAsUser:
                    format: int64
                    type: integer
                  seLinuxOptions:
                    properties:
                      level:
                        type: string
                      role:
                        type: string
                      type:
                        type: string
                      user:
                        type: string
                    type: object
                  seccompProfile:
                    properties:
                      localhostProfile:
                        type: string
                      type:
                        type: string
                    required:
                    - type
                    type: object
                  supplementalGroups:
                    items:
                      format: int64
                      type: integer
                    type: array
                    x-kubernetes-list-type: atomic
                  sysctls:
                    items:
                      properties:
                        name:
                          type: string
                        value:
                          type: string
                      required:
                      - name
                      - value
                      type: object
                    type: array
                    x-kubernetes-list-type: atomic
                  windowsOptions:
                    properties:
                      gmsaCredentialSpec:
                        type: string
                      gmsaCredentialSpecName:
                        type: string
                      hostProcess:
                        type: boolean
                      runAsUserName:
                        type: string
                    type: object
                type: object
              serviceAccountName:
                type: string
              tls:
                properties:
                  certificateSecretName:
                    type: string
                  clusterIssuerName:
                    type: string
                  enabled:
                    type: boolean
                  nonTlsPort:
                    type: integer
                  privateKeyFileName:
                    type: string
                  rootCAFileName:
                    type: string
                  signedCRTFileName:
                    type: string
                  tlsPort:
                    type: integer
                type: object
              waitTimeout:
                type: integer
            required:
            - robotTests
            - serviceAccountName
            type: object
          status:
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: boolean
                    type:
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
